@{
    this.ViewData["Title"] = "Admin dashboard";
}

<h1 class="m-1">@this.ViewData["Title"]</h1>
<div class="m-1">
    <a href="/Admin/Author/Authors" class="text-center btn-secondary btn-lg btn-block">Authors</a>
</div>
<div class="m-1">
    <a href="/Admin/Categories/All" class="text-center btn-secondary btn-lg btn-block">Categories</a>
</div>
<div class="m-1">
    <a href="/Admin/Books/All" class="text-center btn-secondary btn-lg btn-block">Books</a>
</div>
