@model Library.Web.ViewModels.Admin.Categories.CreateViewModel
@{
    ViewData["Title"] = "Create category";
}

<h1>@ViewData["Title"]</h1>
<form asp-action="Create" asp-controller="Categories" method="post" enctype="multipart/form-data">
    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Img"></label>
        <input asp-for="Img" type="file" class="form-control" />
        <span asp-validation-for="Img" class="text-danger"></span>
    </div>
    <hr />
    <input type="submit" class="btn btn-primary" value="Create" />
    <a href="/Admin/Categories/All" class="btn btn-secondary ">Cancel</a>
</form>


