@model Library.Web.ViewModels.Admin.Categories.EditViewModel
@{
    ViewData["Title"] = "Edit category";
}

<h1>ViewData["Title"]</h1>
<h1>@ViewData["Title"]</h1>
<form asp-action="Edit" asp-controller="Categories" method="post">
    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" value="@Model.Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Img">Image Url</label>
        <input asp-for="Img" value="@Model.Img" class="form-control" />
        <span asp-validation-for="Img" class="text-danger"></span>
    </div>
    <hr />
    <input type="submit" class="btn btn-primary" value="Save" />
</form>

